.dates
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(207,216,220);
    padding: 10em;
}
.adress
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.adress>h3{
    font-family: Poppins;
    font-size: 3em;
    font-weight: 400;
    color: rgb(29,29,29);
}
.adress>div{
 font-family: Poppins;
 font-size: 1em;
margin-top: 1em;
}
.bold
{
    font-weight: 600;
    color: rgb(29,29,29);
}
.normal
{
    font-weight: 500;
  color: rgb(29,29,29);
}

.form>h3{
    font-family: Poppins;
    font-size: 3em;
    font-weight: 400;
    color: rgb(29,29,29);
}
.form-label
{
    font-family: Poppins;
}
@media screen and (max-width:1216px){
    .dates{
        padding: 5em;
    }
    .adress>h3,.form>h3{
        font-size: calc(100vw / 20);

    }

}
@media screen and (max-width:992px){
    .dates{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .form>h3{
        text-align: center;
        padding-bottom: 1.3em;
    }
    .adress{
        padding-top: 1.3em;
    }
    .adress>h3{
        text-align: center;
    }
}
@media screen and (max-width:768px){
    .dates{
        padding:2.5em;
    }
}
@media screen and (max-width:576px){
    .dates{
        padding: 1em;
    }

}
@media screen and (max-width:320px){
    .burger{
        top: 4em;
    }
    ul{
        padding: 0;
    }
}
