.backgroud
  {
      background-image: url("/img/main2.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height:68vh;
  }
  .main_title>span
  {
    font-family: Poppins;
    font-size: 5.3em;
    position: relative;
    left: 2em;
    top: 1.2em;
    color: white;
    font-style: normal;
    line-height: 1.14;
    font-weight: 500;
  }
  .subdescription>p
  {
    font-style: normal;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 1.63;
    color: white;
    position: relative;
    top: 7em;
    width: 60%;
    left: 7.3em;
    font-family: Poppins, sans-serif;
    letter-spacing: 0px;
    text-align: inherit;
  }
  .all_content
  {
      background-color: rgb(207,216,220) ;
      height: auto;
  }
  .section
  {
      display: grid;
      margin: 0 auto;
      width: 90%;
      /* grid-template-rows: repeat(8,1fr); */
  }

  .principal:last-child
  {
     border: none;
  }
  .principal
  {
      border-bottom: 1px solid rgb(53,53,53);
      padding: 5em 0 5em 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      overflow: hidden;
  }
  .imagine{
      width: 800px;

  }
.imagine>img{
    max-width: 100%;
    max-height: 100%;
    padding-top: 1em;
}
  .text>h2
  {
      font-family: Poppins;
      font-size: 43px;
      margin-left: .78em;
      font-weight: normal;
      text-align: center;
  }
  .text>p,.text>pre
  {
      font-family: Poppins;
      padding-top: 2em;
      margin-left: 2em;
      font-size: 1.1em;
      color: rgb(156,158,159);
      white-space: pre-line;       /* Since CSS 2.1 */

  }


@media screen and (max-width:1440px){
    .text>h2{
        text-align: center;
    }
    .section{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:1024px){
    .imagine>img{
        max-width: 100%;
    }
    .main_title>span{
        font-size: 4em;
    };
}
@media screen and (max-width:768px){
    .principal{
        display: block;
    }
    .hai-sus{
        right: 100px;
    }
    .imagine>img{
        display: block;
        margin: 0 auto;
    }
    .main_title>span{
        font-size: 4em;
    }
    .reverse{
        display: block;
        flex-direction: row-reverse;
    }


}
@media screen and (max-width:664px){
    .main_title>span{

        font-size:calc(100vw / 11);

    }
}
@media screen and (max-width:664px) and (min-width:320px)
{
    .subdescription{
        width: 80%;
    }
    .subdescription>p{
        display: block;
        width: 100%;
        margin: 0 auto;
        left: 60px;
    }
    .footer>img{
        width: 100%;
    }
}
@media screen and (max-width:320px){
    .backgroud{
        height: 53vh;
    }
    .hai-sus{
        right: 0 !important;
    }
    .main_title{
        text-align: center;
    }
    .subdescription{
        text-align: center;
    }
    .subdescription>p{
        left: 1.3em;
    }
    .main_title>span{

        left: 0;

    }
    .text>pre{
        margin-left: 0;
    }

    .text{
        padding-top: 2em;

    }
}
