@import './pages/home_page.css';
@import './pages/services.css';
@import './pages/about.css';
@import './pages/contacts.css';
@import './pages/404.css';
*
{
    margin: 0;
    padding: 0;
}
.header
{
   width: 100%;
   height: 20vh;
   background-color: white;
   text-align: center;
}
.header>img
{
   width:350px;
}
#succes_response
{
    display: block;
    margin-bottom: 20px;
}
.nav_bar
{
    background-color: rgb(60,65,76);
    height: 10vh;
    transition: 1s ease-in-out;


}
.nav_mobile{

    height: 40vh;
    background-color: rgb(60,65,76);
    transition: 1s ease-in-out;

}

.menu ul
{
    list-style: none;
    height: 10vh;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 80%;
    margin: 0 auto;




}
.menu{
    transition: 5s ease-in-out;
}
.menu ul a
{

    text-decoration: none;

}
.menu ul a li
{
    color: white;
    text-decoration: none;
    font-family: Poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    transition: 1s ease-in-out;

}
.menu li:hover{
background-color: #f05d57;
}
.menu_mobile{
    display: block;
    transition: 1s ease-in-out;
    height: 40vh;

}
.menu_mobile ul{
    list-style: none;
    height: 10vh;
    color: #fff;
    display: block;
    width: 100%;
    margin: 0 auto;

}
.menu_mobile ul a{
    text-decoration: none;
}
.menu_mobile ul a li{
    color: white;
    text-decoration: none;
    font-family: Poppins;
    font-size: 1.2em;
    letter-spacing: .1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.menu_mobile li:hover{
    background-color: #f05d57;
}
.burger{
    font-size: 2em;
    color: white;
    position: absolute;
    right: 1em;
    top: 9.6em;
    display: none;

}
.footer
{
   width: 100%;
   height: 20vh;
   background-color: white;
   text-align: center;


}
.footer>img
{
   width:350px;
}
.footer>.logo_text{
margin-top: 1em;
}

.copyright
{
    font-family: Poppins;
    margin-top: 1em;
    padding-bottom: 1em;
    color: rgb(188,188,188);

}
.hai-sus
{
    position: fixed;
    width: 60px;
    height: 60px;
    border-color: transparent;
    border-radius: 30px;
    background: rgb(240,93,87);
    right: 40px;
    bottom: 50px;
    display: none;
}
.hai-sus:hover,
.hai-sus:focus
{
    filter: brightness(1.5);
    outline: none;
}

.hai-sus::before,
.hai-sus::after
{
content: '';
position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
}

.hai-sus::before{
    width: 5px;
    height: 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: white;
}

.hai-sus::after{
    width: 15px;
    height: 15px;
    transform: translate(-50%,-50%) rotate(45deg);
    border-top: 5px solid white;
    border-left: 5px solid white;

}
.sageata
  {
      width: 50px;
      height: 50px;
  }


